nav {
    background-color: #262323;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}


body {
    background-image: url(testbackground2.png);
    font-family: "Heiti TC";
    
    
}

.panel {
    /*background-color: #d0d0d0;*/
    background-color: rgb(204, 159, 154);
    
    width: 35%;
    margin-top: 20%;
    padding: 10px;
    border-radius: 10px;
}

button, a.btn {
    background-color: #ff8c8c;
    font-size: 20px;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 10px; 
    align-content: center;
    text-decoration: none;
}

input, textarea {
	width: 60%;
	display: block;
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.columns {
	width: 20%;
	display: inline-block;
	margin-right: 10%;	
}

.box {
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;

}

input, textarea {
	width: 100%;
	display: block;
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.column {
	/*background-color:#eaeaea;*/
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 10px;	
	padding: 10px;
    background-color: rgb(204, 159, 154);
}