<template>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- <require from="paulvanbladel/aurelia-auth"></require> -->
        <div class="navbar-header">
            <a class="navbar-logo navbar-brand" href="#">
                <img alt="Logo" src="styles/logo2.png" height="40px">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li repeat.for="row of router.navigation | authFilter: isAuthenticated" class="${row.isActive ? 'active' : ''}">
                    <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="row.href">${row.title}</a>
                </li>
            </ul>

            <ul if.bind="!isAuthenticated" class="nav navbar-nav navbar-right">
                <li><a chref="/#/login">Login</a></li>
                <li><a href="/#/signup">Sign up</a></li>
            </ul>
            <ul if.bind="isAuthenticated" class="nav navbar-nav navbar-right">
                <li><a href="/#/dashboard">Dashboard ${displayName}</a></li>
                <li><a href="/#/logout">Logout</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="loader" if.bind="router.isNavigating">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>
        </div>
    </nav>
</template>