nav {
    background-color: #262323;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    
}

body {
    background-image: url(testbackground2.png);
    font-family: "Heiti TC";
    
    
}

.panel {
    background-color: #d0d0d0;
    
    width: 35%;
    margin-top: 20%;
    padding: 10px;
    border-radius: 10px;
}

button {
    background-color: #ff8c8c;
    font-size: 20px;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 10px; 
    align-content: center;
    top:0px;
}

input, textarea {
	width: 60%;
	display: block;
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

.pull-right {
	float: right;
}
